#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Portions copyright 2007 Luke Dashjr
# Distributed under the terms of the GNU General Public License v2

# adapted from restart.sh

depend() {
	need net
}

check_setup() {
	if [ ! -r "${DB_PREFIX}.db" ] ; then
		eerror "Unable to read ${DB_PREFIX}.db"
		return 1
	fi
}

moo_prestart() {
	if [ -r "${DB_PREFIX}.db.new" ] ; then
		mv "${DB_PREFIX}.db" "${DB_PREFIX}.db.old"
		mv "${DB_PREFIX}.db.new" "${DB_PREFIX}.db"
		rm -f "${DB_PREFIX}.db.old."{bz2,gz}
		if which bzip2 &>/dev/null; then
			nice bzip2 "${DB_PREFIX}.db.old" &
		elsif which gzip &>/dev/null; then
			nice gzip "${DB_PREFIX}.db.old" &
		fi
	fi

	if [ -f "${DB_PREFIX}.log" ] ; then
		if ! cat "${DB_PREFIX}.log" >> "${DB_PREFIX}.log.old"; then
			eerror "Failed to append log to log.old"
			return 1
		fi
		rm "${DB_PREFIX}.log"
	fi

	return 0
}

start() {
	check_setup || return 1
	moo_prestart || return 1

	case "${OUTBOUND_NETWORK}" in
	| 0 | false | False | Off | off)
		OUTBOUND='-O'
		;;
	*)
		OUTBOUND='+O'
		;;
	esac

	[ -n "${BIND_IP}" ] && BIND_IP="-a ${BIND_IP}"

	ebegin "Starting GammaMOO"
	echo "`date`: RESTARTED" >> "${DB_PREFIX}.log"
	start-stop-daemon --start --startas /usr/bin/gammamoo \
	                  --pidfile "${DB_PREFIX}.pid" --make-pidfile \
			  -- -l "${DB_PREFIX}.log" "${DB_PREFIX}.db" "${DB_PREFIX}.db.new" \
			  ${OUTBOUND} ${BIND_IP} \
			  ${PORT} &
	eend $?
}

stop() {
	ebegin "Stopping GammaMOO"
	start-stop-daemon -o --quiet --stop --pidfile "${DB_PREFIX}.pid"
	eend $?
	[ -f "${DB_PREFIX}.pid" ] && rm "${DB_PREFIX}.pid"
}
